* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  height: 100vh;
  color: white;
  background: #EBF2F5;
}

body,
input,
button,
textarea {
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
}

/* Animações */

#logo {
  animation-delay: 50ms;
}
.location {
  animation-delay: 100ms;
}
main h1 {
  animation-delay: 150ms;
  font-size: clamp(4rem,8vw,8.4rem);
}
.visit p {
  animation-delay: 200ms;
}
.visit a {
  animation-delay: 250ms;
}
